# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Models
models/

# Logs
logs/

# Learning Journal
docs/009_Learning_Journal.md